* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background: #111;
  color: white;
  width: 300px;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.player img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* ROTATION ANIMATION */
.rotate {
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.playing {
  animation-play-state: running;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Progress */
.progress-container {
  background: #444;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  background: #1db954;
  height: 100%;
  width: 0%;
}

/* Controls */
.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  margin: 15px;
  cursor: pointer;
}

.controls button:hover {
  color: #1db954;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

/* Volume */
input[type="range"] {
  width: 100%;
}
